.cardTareaSpintContainer {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  margin: 0 !important;
  align-items: center !important;
  padding: 0.4rem !important;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.8)) !important;
  width: 100% !important;
  align-self: center !important;
  background-color: transparent !important;
  overflow: hidden !important;

  .cardTareaSpintInfo {
    font-family: "Montserrat Alternates", sans-serif;
    padding: 0.4rem;
    font-size: 1rem;
    font-weight: 400;
    width: 60%;
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    border-right: 1px solid white;
    overflow: hidden;

    p {
      font-family: "Montserrat Alternates", sans-serif;
      color: white;
      font-weight: 200;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }

    button {
      align-self: center;
      font-family: "Montserrat Alternates", sans-serif;
      background-color: transparent;
      color: white;
      border-radius: 0.8rem;
      margin: 0.4rem;
      border: whitesmoke 1px solid;
      width: 80%;
      font-weight: bold;
      font-size: 1rem;
      padding: 0.2rem;
    }

    button:hover {
      cursor: pointer;
    }
  }

  .colorPendiente {
    background-color: #5e6fb4;
  }

  .colorEnProgreso {
    background-color: #efc94c;
  }

  .colorCompletado {
    background-color: #a7d397;
  }

  .buttonCard {
    display: none;
    pointer-events: none;
  }

  .buttonCardHover {
    display: flex;
    opacity: 1;
    flex-direction: column;
    height: 18vh;
    justify-content: space-around;
    background-color: #e4e4e4;
    gap: 0.4rem;
    padding: 0.4rem;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    border-left: 1px solid white;

    .buttonCardVisibility {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5vw;
      margin: 0;
      background-color: #5e6fb4;
      color: white;
      border-radius: 0.4rem;
      border: none;

      span {
        font-size: 1.5rem;
      }
    }

    .buttonCardVisibility:hover {
      cursor: pointer;
    }

    .buttonCardEdit {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5vw;
      margin: 0;
      color: white;
      border-radius: 0.4rem;
      border: none;
      background-color: #efc94c;

      span {
        font-size: 1.5rem;
      }
    }

    .buttonCardEdit:hover {
      cursor: pointer;
    }

    .buttonCardDelete {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5vw;
      margin: 0;
      color: white;
      border-radius: 0.4rem;
      border: none;
      background-color: #ff3b30;

      span {
        font-size: 1.5rem;
      }
    }

    .buttonCardDelete:hover {
      cursor: pointer;
    }
  }
}
